@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@property --theme-hue {
		syntax: "<number>";
		initial-value: 0;
		inherits: true;
	}

	:root {
		--theme-hue: 280;
	}

	:focus {
		outline: none;
	}

	:focus-visible,
	.focus-ring {
		@apply ring-2 ring-primary-500;
	}

	button,
	[role="button"] {
		cursor: unset;
	}
}
