@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:focus {
		outline: none;
	}

	:focus-visible {
		outline: 2px solid theme("colors.accent.300");
		outline-offset: 2px;
	}

	button,
	[role="button"] {
		cursor: default;
	}
}
