name: ci

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command:
          - name: lint
            run: bun run lint
          - name: typecheck
            run: bun run build && bun run typecheck
      fail-fast: false
    name: ${{ matrix.command.name }}
    steps:
      - name: "游 Checkout"
        uses: actions/checkout@v4

      - name: "游냟 Setup Bun"
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: "游닌 Install dependencies"
        run: bun install

      - name: "郊윒잺 Run ${{ matrix.command.name }}"
        run: ${{ matrix.command.run }}

  test:
    runs-on: ubuntu-latest
    steps:
      - name: "游 Checkout"
        uses: actions/checkout@v4

      - name: "游냟 Setup Bun"
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      # node is still needed for tests for now
      - name: "游릭 Setup Node"
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: "游닌 Install dependencies"
        run: bun install

      - name: "游빍 Run tests"
        run: bun run test

  format:
    if: (github.event_name == 'workflow_dispatch' || github.event_name == 'push') && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: "游 Checkout"
        uses: actions/checkout@v4

      - name: "游냟 Setup Bun"
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: "游닌 Install dependencies"
        run: bun install

      - name: "游눈 Format"
        run: node --run format
        continue-on-error: true

      - name: "游닇 Commit changes"
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          push_options: --force-with-lease
